
<html>
    
<h3>Simple Car Database</h3>

<% @cars.each do |car| %>
<%= car.name %>
<% end %>
     
 
 <p>
 
 <form action = '/insert' method="POST">
     <input type="text" name="model">
     <input type="text" name="price">
     <input type="submit">
 </form>
 
</html>        

